header {
    width: 100%;
    .flexA(column, center);

    .topImage {
        padding: 1%;
    }

    img {
        @media @tablet {
            width: 98%;
            height: 98%;
        }

        @media @fablet {
            margin-top: 1%;
        }
    }
}

section {
    width: 100%;

    h3 {
        color: #CC0000;
    }

    p {
        color: @white;
    }

    div {
        .customDiv(40%, auto, 20px, #000000aa);
        padding: 2%;

        @media @fablet {
            .customDiv(50%, auto, 20px, #000000aa);
            padding: 3%;
        }

        @media @mobile {
            .customDiv(70%, auto, 20px, #000000aa);
        }
    }
}

.tagline {
    color: #000080;
    text-align: center;
    .flexJ(row, center);

    div {
        .customDiv(60%, auto, 30px, @white);
        border: 2px solid @pastelpurple;

        @media @fablet {
            .customDiv(70%, auto, 30px, @white);
            margin: 5%;
        }
    }
}

.topSection {
    .flexJ(row, flex-start);
    padding: 2%;

    @media @mobile {
        .flexJ(row, center);
    }
}

.midSection {
    .flexJ(row, center);
    padding: 2%;
}

.lowSection {
    .flexJ(row, flex-end);
    padding: 2%;

    @media @mobile {
        .flexJ(row, center);
    }
}

.aboutSection {
    .flexJ(row, center);
    div {
        .customDiv(70%, 300px, 50%, #80000080);

        @media @tablet {
            .customDiv(70%, 350px, 50%, #80000080);
        }

        @media @fablet {
            .customDiv(70%, auto, 100px, #80000080);
            margin: 5%;
        }

        @media @mobile {
            .customDiv(70%, auto, 50px, #80000080);
        }

        .flexA(column, center);
        padding: 5% 10%;
    }

    p {
        font-size: 1.4rem;
    }
}

.secretTeam {
    .flexA(column, center);
    margin: 2% 0;

    .picsNtitles {
        .customDiv(80%, auto, 0, inherit);
        margin: 2% 0;

        .flexJ(row, space-between);
        align-items: center;

        @media @tablet {
            .customDiv(100%, auto, 0, inherit);
        }

        @media @fablet {
            .flexA(column, center);
            justify-content: none;
        }

        div {
            .customDiv(auto, auto, 0, inherit);
            text-align: center;
            margin: 0;
            padding: 0;

            img {
                height: 120px;
                border-radius: 20px;

                @media @fablet {
                    height: 60px;
                    border-radius: 10px;
                }
            }

            p {
                font-size: 1.2rem;
                font-weight: bold;
                color: @redish;

                @media @fablet {
                    font-size: 1rem;
                    font-weight: none;
                    margin: 0 0 5% 0;
                }
            }
        }

        .elJefe {
            .customDiv(auto, auto, 0, inherit);
            margin: 0;
            padding: 0;

            img {
                height: 180px;
                border-radius: 30px;

                @media @fablet {
                    height: 90px;
                    border-radius: 15px;
                }
            }

            p {
                font-size: 2rem;

                @media @fablet {
                    font-size: 1rem;
                    margin: 0 0 5% 0;
                }
            }
        }
    }
}

.messageSection {
    .flexA(column, center);

    div {
        .customDiv(50%, auto, 0, inherit);
        margin: 2%;

        @media @fablet {
            .customDiv(96%, auto, 0, inherit);
            margin: 0;
        }

        .flexJ(row, space-between);

        img {
            height: 60px;

            @media @mobile {
                height: 40px;
            }
        }
    }
}