nav {
    width: 100%;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;

    button {
        width: 160px;
        height: 50px;
        border-radius: 10px;

        font-family: @font3;
        font-size: 2rem;
        background-color: @pastelpurple;
        border-color: @pastelpurple;
    }
}